In [1]:
import pandas as pd
import numpy as np

In [2]:
fireDf=pd.read_csv("./firedata.csv")

In [3]:
fireDf.head()

,Fire Number,Incident Name,Fire Start Date,Initial Report Date,Fire Out Date,Region,Zone,County,Municipality,Cause,...,Fatalities,Injuries,Homes Lost,Homes Threatened,Other Structures Lost,Other Structures Threatened,Reporting Ranger,Fire Report Method,Railroad Name,Location 1
0,NYS-2008-0001,OBPP Powerline Surge,2008-01-21T00:00:00,2008-01-21T00:00:00,2008-01-21T00:00:00,1,1A,SUFFOLK,BABYLON,Equipment,...,0,0,0,0,0,0,"Byrnes,Timothy",Fire Department,NaN,"{'longitude': '-73.29247', 'needs_recoding': F..."
1,NYS-2008-0002,Otis Pike @ Dog Pond Line Rd,2008-03-18T00:00:00,2008-03-18T00:00:00,2008-03-18T00:00:00,1,1A,SUFFOLK,RIVERHEAD,Prescribed Fire,...,0,0,0,0,0,0,"Byrnes,Timothy",Supervisor,NaN,"{'longitude': '-72.802', 'needs_recoding': Fal..."
2,NYS-2008-0003,Otis Pike @ Linus Dog Pond,2008-03-18T00:00:00,2008-03-18T00:00:00,2008-03-18T00:00:00,1,1A,SUFFOLK,RIVERHEAD,Prescribed Fire,...,0,0,0,0,0,0,"Byrnes,Timothy",Supervisor,NaN,"{'longitude': '-72.818', 'needs_recoding': Fal..."
3,NYS-2008-0004,Quadt Fire,2008-03-22T00:00:00,2008-03-22T00:00:00,2008-03-22T00:00:00,4,4B,SCHOHARIE,SCHOHARIE,Miscellaneous,...,0,0,0,0,0,0,"Henry,William",911 Dispatch,NaN,"{'longitude': '-74.32', 'needs_recoding': Fals..."
4,NYS-2008-0005,Prestons Pond,2008-03-22T00:00:00,2008-03-22T00:00:00,2008-03-22T00:00:00,1,1A,SUFFOLK,RIVERHEAD,Prescribed Fire,...,0,0,0,0,0,0,"Byrnes,Timothy",Supervisor,NaN,"{'longitude': '-72.82048', 'needs_recoding': F..."

In [4]:
fireDf.columns

Index(['Fire Number', 'Incident Name', 'Fire Start Date',
       'Initial Report Date', 'Fire Out Date', 'Region', 'Zone', 'County',
       'Municipality', 'Cause', 'NFFL Fuel Model', 'Complex Type', 'Acreage',
       'Latitude', 'Longitude', 'Ownership', 'State Land Unit Name', 'Total',
       'Fatalities', 'Injuries', 'Homes Lost', 'Homes Threatened',
       'Other Structures Lost', 'Other Structures Threatened',
       'Reporting Ranger', 'Fire Report Method', 'Railroad Name',
       'Location 1'],
      dtype='object')

In [5]:
cleanFireDf=fireDf.drop(columns=['Fire Number', 'Incident Name', 'Region', 'Zone', 'Initial Report Date','Municipality','Latitude', 'Longitude','State Land Unit Name', 'Total', 'Reporting Ranger','Fire Report Method', 'Railroad Name',
       'Location 1'])

In [6]:
null_cols = cleanFireDf.isnull().sum()
null_cols[null_cols > 0]

Cause           1
Complex Type    1
dtype: int64

There is a really low count of nulls in the dataset hence it is better to delete registers containing any null to ensure operations can be developed properly.

In [7]:
drop_cols = list(null_cols[null_cols > 0].index)
cleanFireDf = cleanFireDf.dropna()

In [8]:
cleanFireDf.head()

,Fire Start Date,Fire Out Date,County,Cause,NFFL Fuel Model,Complex Type,Acreage,Ownership,Fatalities,Injuries,Homes Lost,Homes Threatened,Other Structures Lost,Other Structures Threatened
0,2008-01-21T00:00:00,2008-01-21T00:00:00,SUFFOLK,Equipment,8 - Timber - Light Hardwood Litter,5.0,0.2,State Forest/RF Area,0,0,0,0,0,0
1,2008-03-18T00:00:00,2008-03-18T00:00:00,SUFFOLK,Prescribed Fire,1 - Grass - Light,5.0,10.9,Wildlife Management Area,0,0,0,0,0,0
2,2008-03-18T00:00:00,2008-03-18T00:00:00,SUFFOLK,Prescribed Fire,1 - Grass - Light,5.0,2.3,Wildlife Management Area,0,0,0,0,0,0
3,2008-03-22T00:00:00,2008-03-22T00:00:00,SCHOHARIE,Miscellaneous,1 - Grass - Light,5.0,0.2,Private Property,0,0,0,0,0,0
4,2008-03-22T00:00:00,2008-03-22T00:00:00,SUFFOLK,Prescribed Fire,1 - Grass - Light,5.0,5.8,Wildlife Management Area,0,0,0,0,0,0

In [9]:
cleanFireDf.describe()

,Complex Type,Acreage,Fatalities,Injuries,Homes Lost,Homes Threatened,Other Structures Lost,Other Structures Threatened
count,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000,1512.000000
mean,4.554233,14.563294,0.001323,0.037037,0.008598,0.191799,0.082672,0.044974
std,0.780111,122.407991,0.036358,0.267258,0.111806,3.071224,1.213389,0.397662
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,0.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000,1.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,6.225000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,2855.000000,1.000000,4.000000,3.000000,89.000000,39.000000,12.000000

In [10]:
cleanFireDf.dtypes

Fire Start Date                 object
Fire Out Date                   object
County                          object
Cause                           object
NFFL Fuel Model                 object
Complex Type                   float64
Acreage                        float64
Ownership                       object
Fatalities                       int64
Injuries                         int64
Homes Lost                       int64
Homes Threatened                 int64
Other Structures Lost            int64
Other Structures Threatened      int64
dtype: object

In [11]:
cleanFireDf['Fire Start Date']=cleanFireDf['Fire Start Date'].astype("datetime64")

In [12]:
cleanFireDf['Fire Out Date']=cleanFireDf['Fire Out Date'].astype("datetime64")

In [13]:
cleanFireDf['Complex Type']=cleanFireDf['Complex Type'].astype("int")

In [33]:
cleanFireDf['EventID']=cleanFireDf.index

In [34]:
cleanFireDf= cleanFireDf[['EventID','Fire Start Date', 'Fire Out Date', 'County', 'Ownership', 'Cause',
       'NFFL Fuel Model', 'Complex Type', 'Acreage', 'Fatalities',
       'Injuries', 'Homes Lost', 'Homes Threatened', 'Other Structures Lost',
       'Other Structures Threatened']]
cleanFireDf.dtypes

EventID                                 int64
Fire Start Date                datetime64[ns]
Fire Out Date                  datetime64[ns]
County                                 object
Ownership                              object
Cause                                  object
NFFL Fuel Model                        object
Complex Type                            int64
Acreage                               float64
Fatalities                              int64
Injuries                                int64
Homes Lost                              int64
Homes Threatened                        int64
Other Structures Lost                   int64
Other Structures Threatened             int64
dtype: object

In [35]:
cleanFireDf.head()

,EventID,Fire Start Date,Fire Out Date,County,Ownership,Cause,NFFL Fuel Model,Complex Type,Acreage,Fatalities,Injuries,Homes Lost,Homes Threatened,Other Structures Lost,Other Structures Threatened
0,0,2008-01-21,2008-01-21,SUFFOLK,State Forest/RF Area,Equipment,8 - Timber - Light Hardwood Litter,5,0.2,0,0,0,0,0,0
1,1,2008-03-18,2008-03-18,SUFFOLK,Wildlife Management Area,Prescribed Fire,1 - Grass - Light,5,10.9,0,0,0,0,0,0
2,2,2008-03-18,2008-03-18,SUFFOLK,Wildlife Management Area,Prescribed Fire,1 - Grass - Light,5,2.3,0,0,0,0,0,0
3,3,2008-03-22,2008-03-22,SCHOHARIE,Private Property,Miscellaneous,1 - Grass - Light,5,0.2,0,0,0,0,0,0
4,4,2008-03-22,2008-03-22,SUFFOLK,Wildlife Management Area,Prescribed Fire,1 - Grass - Light,5,5.8,0,0,0,0,0,0

In [42]:
cleanFireDf.groupby(["NFFL Fuel Model"]).agg({"Acreage":{"Acreage Sum": "sum"}, "EventID":{"Count": "count"}})
#Incident command system classification of complexity
#of the incident. “1” is a very large incident, “5” is a small
#incident.

/home/albertocastellanos/.local/lib/python3.6/site-packages/pandas/core/groupby/groupby.py:4656: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

                                             Acreage EventID
                                         Acreage Sum   Count
NFFL Fuel Model
 1 - Grass - Light                            1545.6     231
 2 - Grass - Understory                        382.8      58
 3 - Grass - Heavy                            2388.8     109
 4 - Brush - Heavy/Volatile                   2929.1      15
 5 - Brush - Continuous but Light              286.4      52
 6 - Brush - Mixed/Regeneration                334.3      65
 7 - Brush - Understory                        259.5      70
 8 - Timber - Light Hardwood Litter           1566.2     458
 9 - Timber - Medium Hardwood Litter          7969.2     327
10 - Timber  - Heavy Litter/Downed Fuels      4221.4      87
11 - Slash - Light                              32.4      15
12 - Slash - Medium                             82.0      18
13 - Slash Heavy                                22.0       7

In [43]:
cleanFireDf.pivot_table(["Cause","Complex Type"])

ValueError: No group keys passed!

 8 - Timber - Light Hardwood Litter         458
 9 - Timber - Medium Hardwood Litter        327
 1 - Grass - Light                          231
 3 - Grass - Heavy                          109
10 - Timber  - Heavy Litter/Downed Fuels     87
 7 - Brush - Understory                      70
 6 - Brush - Mixed/Regeneration              65
 2 - Grass - Understory                      58
 5 - Brush - Continuous but Light            52
12 - Slash - Medium                          18
11 - Slash - Light                           15
 4 - Brush - Heavy/Volatile                  15
13 - Slash Heavy                              7
Name: NFFL Fuel Model, dtype: int64

In oder to be able to apply certain logic to categorical fields, we will convert some of them to numerical fields.