Importing all necessary packages to manipulate the data

In [1]:
import numpy as np
import pandas as pd
import pymysql
import sqlalchemy

In [2]:
originalData=pd.read_csv('./CrimeData.csv')
originalData.tail(5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
239672,1083142,2018-03-31,Louisiana,Rayne,North Riceland Road and Highway 90,0,0,http://www.gunviolencearchive.org/incident/108...,http://www.klfy.com/news/local/rayne-woman-cha...,False,...,0::25,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN
239673,1083139,2018-03-31,Louisiana,Natchitoches,247 Keyser Ave,1,0,http://www.gunviolencearchive.org/incident/108...,http://www.ksla.com/story/37854648/man-wanted-...,False,...,1::21,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0
239674,1083151,2018-03-31,Louisiana,Gretna,1300 block of Cook Street,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.nola.com/crime/index.ssf/2018/04/sh...,False,...,0::21,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0
239675,1082514,2018-03-31,Texas,Houston,12630 Ashford Point Dr,1,0,http://www.gunviolencearchive.org/incident/108...,https://www.chron.com/news/houston-texas/houst...,False,...,0::42,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,...,0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0

In [3]:
originalData[['congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',]].tail(50)

,congressional_district,gun_stolen,gun_type,incident_characteristics,latitude,location_description,longitude,n_guns_involved,notes
239627,4.0,0::Unknown,0::Unknown,Shot - Wounded/Injured,41.1671,NaN,-73.1994,1.0,"shot in side, leg"
239628,4.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",30.3144,NaN,-81.7793,1.0,NaN
239629,1.0,0::Unknown,0::Unknown,Institution/Group/Business||Non-Shooting Incid...,42.0925,Pearl House Chinese Restaurant,-72.5803,1.0,pw employee during ar
239630,13.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Dri...",42.3301,NaN,-83.1486,1.0,NaN
239631,NaN,0::Unknown,0::Unknown,Shots Fired - No Injuries||ShotSpotter,NaN,NaN,NaN,1.0,shotspotter
239632,12.0,0::Unknown,0::Unknown,Shot - Wounded/Injured||Institution/Group/Busi...,35.1372,B & B Mart,-80.8772,1.0,NaN
239633,NaN,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,NaN,NaN,1.0,NaN
239634,29.0,0::Unknown,0::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",29.6872,Emerald Pointe complex,-95.2024,1.0,NaN
239635,2.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",30.4490,NaN,-84.3068,1.0,NaN
239636,7.0,0::Unknown,0::Unknown,Shot - Wounded/Injured,39.8850,The Villas at Meridian Hills,-86.1967,1.0,"Man critical, woman shot, hand, stable;"
239637,NaN,0::Unknown,0::Unknown,Shot - Wounded/Injured,NaN,NaN,NaN,1.0,NaN
239638,21.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",35.8791,NaN,-119.2650,1.0,NaN
239639,20.0,0::Unknown,0::Unknown,Shots Fired - No Injuries||Accidental Shooting...,36.6191,NaN,-121.6360,1.0,NaN
239640,7.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Dri...",42.2812,NaN,-71.0836,1.0,shot from passing vehicle
239641,8.0,0::Unknown,0::Unknown,Shots Fired - No Injuries||Drive-by (car to st...,36.3500,NaN,-88.8510,1.0,"Fired shots from car at group of people; fled,..."
239642,4.0,0::Unknown||1::Unknown,0::Handgun||1::Handgun,Non-Shooting Incident||Home Invasion||Home Inv...,40.6887,NaN,-73.5990,2.0,3 men forced way into home; 2 armed with handg...
239643,2.0,0::Unknown,0::Unknown,"Shot - Wounded/Injured||Shot - Dead (murder, a...",40.7039,Club 105 Grados,-73.3743,1.0,"2 shot, 3 stabbed during group fight"
239644,NaN,0::Unknown,0::Unknown,Shot - Wounded/Injured||Non-Aggression Inciden...,NaN,NaN,NaN,1.0,AD; victim arrived Highland Hospital in privat...
239645,9.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",40.6409,NaN,-73.9565,1.0,"Shot in neck and torso, near Rose Fantasy rest..."
239646,14.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Sui...",40.3740,NaN,-79.8505,1.0,"shot in head, poss self inflict"
239647,NaN,0::Unknown,0::Unknown,Shots Fired - No Injuries||Domestic Violence,NaN,NaN,NaN,1.0,"poss shots fired during dv, arrest on W Broadw..."
239648,NaN,0::Unknown,0::Unknown,Shots Fired - No Injuries,NaN,NaN,NaN,1.0,NaN
239649,NaN,0::Unknown,0::Unknown,Shots Fired - No Injuries||Home Invasion||Home...,NaN,NaN,NaN,1.0,NaN
239650,25.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",34.5713,NaN,-118.0450,1.0,gunshot wound to the upper torso.
239651,13.0,0::Unknown,0::Unknown,Shot - Wounded/Injured||Defensive Use||Defensi...,33.9052,NaN,-98.5151,1.0,"poss SD, poss drug deal gone wrong"
239652,30.0,0::Unknown,0::Unknown,Shot - Wounded/Injured||Home Invasion||Home In...,32.6772,NaN,-96.8059,1.0,"hi, shot suspect in leg, failed ar"
239653,2.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Ins...",39.4832,Peckham Plaza Mini Mart,-119.7800,1.0,"respond to ar, shot subject"
239654,2.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Sui...",39.5537,NaN,-119.7760,1.0,"apartment building, self inflict, unclear if A..."
239655,52.0,0::Unknown,0::Unknown,Institution/Group/Business||Shots Fired - No I...,32.8936,Goldfingers Gentlemen's Club,-117.1360,1.0,patron shot at bouncer 13 times and missed
239656,25.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Sui...",43.1076,NaN,-77.5617,1.0,NaN
239657,21.0,0::Unknown,0::Unknown,Shots Fired - No Injuries||Officer Involved In...,35.5019,NaN,-119.2830,1.0,NaN
239658,NaN,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",NaN,NaN,NaN,1.0,NaN
239659,10.0,0::Unknown,0::Unknown,Shot - Wounded/Injured,28.5279,NaN,-81.4594,1.0,NaN
239660,9.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",37.9478,NaN,-121.3140,1.0,NaN
239661,NaN,0::Unknown,0::Unknown,Shot - Wounded/Injured||Drive-by (car to stree...,NaN,NaN,NaN,1.0,NaN
239662,NaN,0::Unknown,0::Unknown,Shot - Wounded/Injured||Drive-by (car to stree...,44.9685,NaN,-93.0609,1.0,shot while sitting in car
239663,3.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Off...",35.8739,NaN,-97.4163,1.0,NaN
239664,8.0,0::Unknown,0::Unknown,Shot - Wounded/Injured,38.2074,NaN,-90.4990,1.0,Victim grazed in head while handing out flyers.
239665,NaN,0::Unknown,0::Handgun,Shot - Wounded/Injured||Officer Involved Incid...,NaN,NaN,NaN,1.0,Victim shot in chest prior to police arrival; ...
239666,NaN,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Acc...",NaN,NaN,NaN,1.0,Child fatally shot by younger brother.
239667,9.0,0::Unknown,0::Unknown,Shot - Wounded/Injured||Domestic Violence,35.2045,NaN,-89.9872,1.0,NaN
239668,NaN,0::Unknown,0::Unknown,Shot - Wounded/Injured||Drive-by (car to stree...,NaN,NaN,NaN,1.0,near Wyoming St
239669,NaN,0::Unknown,0::45 Auto,Shots Fired - No Injuries,NaN,NaN,NaN,1.0,.45 shell casing recovered
239670,NaN,0::Unknown,0::Unknown,Shot - Wounded/Injured,NaN,NaN,NaN,1.0,"Rt. leg, good; walk-up by 1;"
239671,5.0,0::Unknown,0::Unknown,Non-Shooting Incident||Possession (gun(s) foun...,47.6638,NaN,-117.2350,1.0,DV call leads to seizure of firearms during ar...
239672,NaN,0::Unknown,0::Unknown,Shots Fired - No Injuries,NaN,NaN,NaN,1.0,NaN
239673,4.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)||Ins...",31.7537,Shop Rite,-93.0836,1.0,NaN
239674,2.0,0::Unknown,0::Unknown,Shot - Wounded/Injured,29.9239,NaN,-90.0442,1.0,NaN
239675,9.0,0::Unknown,0::Unknown,"Shot - Dead (murder, accidental, suicide)",29.7201,Vanderbilt Court apartments,-95.6110,1.0,"Vic was found shot to death in car on 4/1/18, ..."
239676,2.0,0::Unknown||1::Unknown,0::Handgun||1::Shotgun,"Shot - Dead (murder, accidental, suicide)||Sui...",44.7293,NaN,-69.7691,2.0,"ALT: US 2, shot wife then self, handgun, shotg..."

In [4]:
originalData.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'incident_url', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'gun_stolen',
       'gun_type', 'incident_characteristics', 'latitude',
       'location_description', 'longitude', 'n_guns_involved', 'notes',
       'participant_age', 'participant_age_group', 'participant_gender',
       'participant_name', 'participant_relationship', 'participant_status',
       'participant_type', 'sources', 'state_house_district',
       'state_senate_district'],
      dtype='object')

In [5]:
originalData.describe()

,incident_id,n_killed,n_injured,congressional_district,latitude,longitude,n_guns_involved,state_house_district,state_senate_district
count,2.396770e+05,239677.000000,239677.000000,227733.000000,231754.000000,231754.000000,140226.000000,200905.000000,207342.00000
mean,5.593343e+05,0.252290,0.494007,8.001265,37.546598,-89.338348,1.372442,55.447132,20.47711
std,2.931287e+05,0.521779,0.729952,8.480835,5.130763,14.359546,4.678202,42.048117,14.20456
min,9.211400e+04,0.000000,0.000000,0.000000,19.111400,-171.429000,1.000000,1.000000,1.00000
25%,3.085450e+05,0.000000,0.000000,2.000000,33.903400,-94.158725,1.000000,21.000000,9.00000
50%,5.435870e+05,0.000000,0.000000,5.000000,38.570600,-86.249600,1.000000,47.000000,19.00000
75%,8.172280e+05,0.000000,1.000000,10.000000,41.437375,-80.048625,1.000000,84.000000,30.00000
max,1.083472e+06,50.000000,53.000000,53.000000,71.336800,97.433100,400.000000,901.000000,94.00000

In [6]:
len(originalData.incident_id)

239677

The total number of crimes in USA where a fire gun was involved from 2013 to 2018 is 239677. In this study we will look into more detail in the numbers to discover the nature and chronologic evolution of crime.

Some of the columns in the data are not relevant for what we need to check so we can get rid of a few columns in  order to have a more handleable dataset

In [7]:
workingData=originalData.drop(['address','gun_stolen', 'gun_type','incident_characteristics','notes','incident_url','participant_age','participant_gender','participant_status','participant_type', 'source_url',
       'incident_url_fields_missing', 'congressional_district', 'latitude',
       'location_description', 'longitude',
       'participant_age_group', 'participant_name',
       'sources', 'state_house_district',
       'state_senate_district'], axis=1)
workingData.head(7)

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,participant_relationship
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,1,3,NaN,NaN
2,478855,2013-01-01,Ohio,Lorain,1,3,2.0,NaN
3,478925,2013-01-05,Colorado,Aurora,4,0,NaN,NaN
4,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,3::Family
5,478948,2013-01-07,Oklahoma,Tulsa,4,0,NaN,NaN
6,479363,2013-01-19,New Mexico,Albuquerque,5,0,2.0,5::Family

We now need to identify the null values in our dataset, the best way to this is calculating the number of nulls per column and calculating their percentage over the total amount of registers.

In [8]:
null_cols = workingData.isnull().sum()*100/len(workingData.incident_id)
null_cols[null_cols > 0]

n_guns_involved             41.493760
participant_relationship    93.418643
dtype: float64

We can observe that the column "participant_relationship" contains approximately 93% of null values. Due to the nature of the information contained in that column, we can assume that no value means no relationship. Therefore, we will exchange the nulls with the string "False". In the same manner, we are not really interested in the kind of relationship, but in the existance of a relationship, therefore, registers with a value can be exchanged with "True"

In [9]:
# We are fillin NA 
workingData['participant_relationship']=workingData.participant_relationship.fillna(0)
workingData['participant_relationship'].head()

0            0
1            0
2            0
3            0
4    3::Family
Name: participant_relationship, dtype: object

In [10]:
workingData.participant_relationship[workingData.participant_relationship!=0] = 1
workingData.participant_relationship.head()

/home/albertocastellanos/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0    0
1    0
2    0
3    0
4    1
Name: participant_relationship, dtype: object

From checking the data types, we know that some of the columns are expressed with the wrong data type so we should change it.

In [11]:
workingData.dtypes

incident_id                   int64
date                         object
state                        object
city_or_county               object
n_killed                      int64
n_injured                     int64
n_guns_involved             float64
participant_relationship     object
dtype: object

In [12]:
workingData['participant_relationship']=workingData.participant_relationship.astype('bool')
workingData['participant_relationship'].head(5)

0    False
1    False
2    False
3    False
4     True
Name: participant_relationship, dtype: bool

In [13]:
workingData.date=workingData.date.astype('datetime64[ns]')
workingData.date.head(5)

0   2013-01-01
1   2013-01-01
2   2013-01-01
3   2013-01-05
4   2013-01-07
Name: date, dtype: datetime64[ns]

We know that "n-guns-involved"'s NaN values never equal zero since the current dataset refers to crimes where a fire gun was involved. NaN values simply means that the police was unable to clarify the number of guns present in the crime, so this value could vary quite a lot. Therefore, we have decided that we just want to work with cases where we know the number of guns that were used in the crime.

In [14]:
workingData=workingData.dropna(subset=['n_guns_involved'])
workingData.head()

,incident_id,date,state,city_or_county,n_killed,n_injured,n_guns_involved,participant_relationship
2,478855,2013-01-01,Ohio,Lorain,1,3,2.0,False
4,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,True
6,479363,2013-01-19,New Mexico,Albuquerque,5,0,2.0,True
10,491674,2013-01-23,Tennessee,Chattanooga,1,3,1.0,False
11,479413,2013-01-25,Missouri,Saint Louis,1,3,1.0,False

In [15]:
workingData.isnull().sum()

incident_id                 0
date                        0
state                       0
city_or_county              0
n_killed                    0
n_injured                   0
n_guns_involved             0
participant_relationship    0
dtype: int64

We can now be sure that there are not null values in our dataset and therefore we are safe to extract conclusions from it

The name of the columns was not as descriptive as desired so we have decided to rename them as necessary:

In [16]:
workingData.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'n_killed',
       'n_injured', 'n_guns_involved', 'participant_relationship'],
      dtype='object')

In [17]:
workingData=workingData.rename(columns={'city_or_county':'city'})

In [18]:
workingData.columns

Index(['incident_id', 'date', 'state', 'city', 'n_killed', 'n_injured',
       'n_guns_involved', 'participant_relationship'],
      dtype='object')

In [19]:
workingData.columns = ['crimeId', 'date', 'state', 'city', 'numberKilled',
       'numberInjured', ' numberGunsInvolved', 'authorsRelationship']

We have also decided to re-arrange the column order for clarity:

In [20]:
columnOrder = ['crimeId', 'date', 'state', 'city', 'authorsRelationship', 'numberKilled',
       'numberInjured', ' numberGunsInvolved']

Ranking of 10 states whith higher number of crimes

In [21]:
workingData['state'].value_counts().head(10)

Illinois          11459
California         9580
Florida            9022
Texas              7580
Ohio               6756
New York           5487
Pennsylvania       5216
Georgia            4785
Louisiana          4444
North Carolina     4269
Name: state, dtype: int64

Ranking of 10 states by number of crimes when killed=1

In [22]:
Top10for5killed=workingData[(workingData.numberKilled==1)]
Top10for5killed['state'].value_counts().head(10)

California        2388
Texas             2163
Illinois          1998
Florida           1590
Ohio              1429
Pennsylvania      1125
Missouri          1056
Georgia           1046
Louisiana         1027
North Carolina     954
Name: state, dtype: int64

In [23]:
workingData.head(5)

,crimeId,date,state,city,numberKilled,numberInjured,numberGunsInvolved,authorsRelationship
2,478855,2013-01-01,Ohio,Lorain,1,3,2.0,False
4,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,True
6,479363,2013-01-19,New Mexico,Albuquerque,5,0,2.0,True
10,491674,2013-01-23,Tennessee,Chattanooga,1,3,1.0,False
11,479413,2013-01-25,Missouri,Saint Louis,1,3,1.0,False

We now want to discover the 10 days where more crimes with victims but no casulties happened in the city of Chicago

In [25]:
dayRankVictims=workingData[(workingData.city=="Chicago") & (workingData.numberInjured>=1) & (workingData.numberKilled==0)]
dayRankVictims.date.value_counts().head(10)

2017-01-01    19
2016-09-24    18
2016-08-21    17
2017-06-24    16
2017-07-02    16
2017-08-19    16
2017-07-15    15
2016-10-10    15
2017-08-20    15
2016-10-16    15
Name: date, dtype: int64

We are going to categorize each register based on the number of killed people in the event. For that purpose we will use bin in order to establish 4 groups.

In [26]:
numberOfKills=["Zero to Three", "Four to Six", "Six to Nine", "Ten or more"]
cutoffs=[-1,3,6,9,999]
bins=pd.cut(workingData["numberKilled"],cutoffs,labels=numberOfKills)
print(workingData.columns)
dfbins=bins.to_frame()
dfbins.columns=['bins']
dfbins.bins.value_counts()

Index(['crimeId', 'date', 'state', 'city', 'numberKilled', 'numberInjured',
       ' numberGunsInvolved', 'authorsRelationship'],
      dtype='object')

Zero to Three    140074
Four to Six         138
Six to Nine           8
Ten or more           6
Name: bins, dtype: int64

We can observe that the number of mass killings is 6, we want now to discover the states where more mass killings happened:

In [27]:
dataWithBins=pd.concat([workingData, dfbins], axis=1)
dataWithBins

,crimeId,date,state,city,numberKilled,numberInjured,numberGunsInvolved,authorsRelationship,bins
2,478855,2013-01-01,Ohio,Lorain,1,3,2.0,False,Zero to Three
4,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,True,Zero to Three
6,479363,2013-01-19,New Mexico,Albuquerque,5,0,2.0,True,Four to Six
10,491674,2013-01-23,Tennessee,Chattanooga,1,3,1.0,False,Zero to Three
11,479413,2013-01-25,Missouri,Saint Louis,1,3,1.0,False,Zero to Three
12,479561,2013-01-26,Louisiana,Charenton,2,3,1.0,False,Zero to Three
13,479554,2013-01-26,District of Columbia,Washington,0,5,1.0,False,Zero to Three
15,479573,2013-02-02,Tennessee,Memphis,0,5,1.0,False,Zero to Three
16,479580,2013-02-03,California,Yuba (county),1,3,1.0,True,Zero to Three
18,479603,2013-02-09,Louisiana,New Orleans,0,4,1.0,False,Zero to Three
20,480327,2013-02-11,Delaware,Wilmington,3,2,1.0,False,Zero to Three
22,480358,2013-02-19,California,Orange (county),4,3,1.0,False,Four to Six
28,481198,2013-03-03,Georgia,Moultrie,2,2,1.0,False,Zero to Three
30,481213,2013-03-04,California,Los Banos,1,3,1.0,False,Zero to Three
32,481229,2013-03-07,Mississippi,Jackson,2,2,1.0,False,Zero to Three
33,481237,2013-03-10,Missouri,Kansas City,0,5,1.0,False,Zero to Three
34,482771,2013-03-11,District of Columbia,Washington,0,13,4.0,False,Zero to Three
36,482856,2013-03-13,New York,Mohawk,6,2,1.0,True,Four to Six
42,483765,2013-03-21,Missouri,Kansas City,1,3,1.0,False,Zero to Three
53,484317,2013-04-18,Ohio,Akron,4,0,1.0,False,Four to Six
54,484333,2013-04-21,Washington,Federal Way,5,0,2.0,False,Four to Six
56,485746,2013-04-22,Louisiana,Harvey,0,5,3.0,False,Zero to Three
57,485811,2013-04-24,Illinois,Manchester,6,1,2.0,True,Four to Six
58,489185,2013-04-25,Ohio,Oberlin,0,4,1.0,False,Zero to Three
61,485885,2013-04-28,Pennsylvania,Chester,1,3,2.0,False,Zero to Three
62,485979,2013-04-28,Tennessee,Jackson,2,2,2.0,False,Zero to Three
63,984353,2013-05-02,Maryland,Baltimore,1,0,1.0,False,Zero to Three
65,486027,2013-05-04,North Carolina,Smithfield,0,4,1.0,False,Zero to Three
69,486142,2013-05-11,Indiana,Columbus,5,0,1.0,False,Four to Six
71,486244,2013-05-11,New Jersey,Jersey City,0,4,1.0,False,Zero to Three
...,...,...,...,...,...,...,...,...,...
239647,1081936,2018-03-31,Maine,Bangor,0,0,1.0,False,Zero to Three
239648,1081946,2018-03-31,District of Columbia,Washington,0,0,1.0,False,Zero to Three
239649,1081949,2018-03-31,Nevada,Las Vegas,0,0,1.0,False,Zero to Three
239650,1082266,2018-03-31,California,Palmdale,1,0,1.0,False,Zero to Three
239651,1082483,2018-03-31,Texas,Wichita Falls,0,1,1.0,False,Zero to Three
239652,1082486,2018-03-31,Texas,Dallas,0,1,1.0,False,Zero to Three
239653,1083121,2018-03-31,Nevada,Reno,1,0,1.0,False,Zero to Three
239654,1081947,2018-03-31,Nevada,Reno,1,0,1.0,False,Zero to Three
239655,1082089,2018-03-31,California,San Diego,0,0,1.0,False,Zero to Three
239656,1081901,2018-03-31,New York,Rochester,1,0,1.0,False,Zero to Three
239657,1082394,2018-03-31,California,Shafter,0,0,1.0,False,Zero to Three
239658,1082392,2018-03-31,California,Oakland,1,0,1.0,False,Zero to Three
239659,1082057,2018-03-31,Florida,Orlando,0,3,1.0,False,Zero to Three
239660,1082091,2018-03-31,California,Stockton,2,0,1.0,False,Zero to Three
239661,1081719,2018-03-31,North Carolina,Kings Mountain,0,4,1.0,False,Zero to Three
239662,1082388,2018-03-31,Minnesota,Saint Paul,0,2,1.0,False,Zero to Three
239663,1082197,2018-03-31,Oklahoma,Guthrie,1,0,1.0,False,Zero to Three
239664,1082023,2018-03-31,Missouri,Festus,0,1,1.0,False,Zero to Three
239665,1082226,2018-03-31,Missouri,Saint Clair,0,1,1.0,False,Zero to Three
239666,1081894,2018-03-31,Missouri,Saint Louis,1,0,1.0,True,Zero to Three
239667,1082234,2018-03-31,Tennessee,Memphis,0,1,1.0,False,Zero to Three
239668,1081742,2018-03-31,Michigan,Detroit,0,1,1.0,False,Zero to Three
239669,1082990,2018-03-31,Wisconsin,Madison,0,0,1.0,False,Zero to Three
239670,1081752,2018-03-31,Illinois,Chicago,0,1,1.0,False,Zero to Three
239671,1082061,2018-03-31,Washington,Spokane (Spokane Valley),0,0,1.0,False,Zero to Three
239672,1083142,2018-03-31,Louisiana,Rayne,0,0,1.0,False,Zero to Three
239673,1083139,2018-03-31,Louisiana,Natchitoches,1,0,1.0,False,Zero to Three
239674,1083151,2018-03-31,Louisiana,Gretna,0,1,1.0,False,Zero to Three
239675,1082514,2018-03-31,Texas,Houston,1,0,1.0,False,Zero to Three
239676,1081940,2018-03-31,Maine,Norridgewock,2,0,2.0,True,Zero to Three

I have been trying to resolve a group by with several columns that aggregates a column and sort by it but I have been unable to achieve any result

dataWithBins.groupby(['bins', 'state']).count().sort_values("numberKilled")

In [29]:
dataWithBins.loc[dataWithBins['bins'].str.startswith('Ten'), 'Mass Killing']=True
dataWithBins.loc[(dataWithBins['bins'].str.startswith('Ten')==False), 'Mass Killing']=False

The top ten of states with more Mass Killings is showing below:

In [56]:
MassKillingStates=dataWithBins.groupby(['state']).sum().sort_values('Mass Killing', ascending=False).head(10)
MassKillingStates=MassKillingStates[['Mass Killing']]
MassKillingStates

                      Mass Killing
state
Florida                        2.0
California                     1.0
District of Columbia           1.0
Texas                          1.0
Oregon                         1.0
Alabama                        0.0
Pennsylvania                   0.0
New Hampshire                  0.0
New Jersey                     0.0
New Mexico                     0.0

In [37]:
numberKillsGroups = pd.get_dummies(dataWithBins['bins'])
numberKillsGroups.head(10)

    Zero to Three  Four to Six  Six to Nine  Ten or more
2               1            0            0            0
4               1            0            0            0
6               0            1            0            0
10              1            0            0            0
11              1            0            0            0
12              1            0            0            0
13              1            0            0            0
15              1            0            0            0
16              1            0            0            0
18              1            0            0            0

In [41]:
workingDataWithDummies=pd.merge(workingData,numberKillsGroups, left_index=True, right_index=True)
workingDataWithDummies.head(10)

,crimeId,date,state,city,numberKilled,numberInjured,numberGunsInvolved,authorsRelationship,Zero to Three,Four to Six,Six to Nine,Ten or more
2,478855,2013-01-01,Ohio,Lorain,1,3,2.0,False,1,0,0,0
4,478959,2013-01-07,North Carolina,Greensboro,2,2,2.0,True,1,0,0,0
6,479363,2013-01-19,New Mexico,Albuquerque,5,0,2.0,True,0,1,0,0
10,491674,2013-01-23,Tennessee,Chattanooga,1,3,1.0,False,1,0,0,0
11,479413,2013-01-25,Missouri,Saint Louis,1,3,1.0,False,1,0,0,0
12,479561,2013-01-26,Louisiana,Charenton,2,3,1.0,False,1,0,0,0
13,479554,2013-01-26,District of Columbia,Washington,0,5,1.0,False,1,0,0,0
15,479573,2013-02-02,Tennessee,Memphis,0,5,1.0,False,1,0,0,0
16,479580,2013-02-03,California,Yuba (county),1,3,1.0,True,1,0,0,0
18,479603,2013-02-09,Louisiana,New Orleans,0,4,1.0,False,1,0,0,0